.search-bar-container {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 40vw;
  height: 5vh;
}

.search-button {
  border-radius: 1vw;
  color: #e9ecef;
  font-family: 'Courier New', Courier, monospace;
  background-color: #6c757d;
  font-size: 1vw;
  font-weight: bolder;
}