.article {
  display: flex;
  flex-direction: column;
  background-color: #212529;
  color: #adb5bd;
  align-items: center;
  border: 1px solid #adb5bd;
}

.article-item {
  color: #e9ecef;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.9em;
}

.name {
  font-weight: bolder;
}

.image {
  width: 20vw;
  height: 20vh;
}

.description {
  text-align: center;
}

.search-container {
  justify-content: center;
}

@media only screen and (max-width: 1440px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .article-item {
    font-size: 0.9em;
  }
  .name {
    text-align: center;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 50%;
    height: 30%;
  }
}
@media only screen and (max-width: 1024px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .article-item {
    font-size: 0.9em;
  }
  .name {
    text-align: center;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 50%;
    height: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .article-item {
    font-size: 0.9em;
  }
  .name {
    text-align: center;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 50%;
    height: 30%;
  }
}

@media only screen and (max-width: 425px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .article-item {
    font-size: 0.9em;
  }
  .name {
    text-align: center;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 50%;
    height: 30%;
  }
}

@media only screen and (max-width: 375px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .article-item {
    font-size: 0.9em;
  }
  .name {
    text-align: center;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 50%;
    height: 30%;
  }
}

@media only screen and (max-width: 320px) {
  .article {
    display: flex;
    flex-direction: column;
  }
  .article-item {
    font-size: 0.9em;
  }
  .name {
    text-align: center;
  }
  .img-container {
    display: flex;
    justify-content: center;
  }
  .image {
    width: 50%;
    height: 30%;
  }
}